/* body{
    display: flex;
    justify-content: center;
} */
*{
    margin: 0;
    padding:0
}
header{
    background-color: #43aa43c5;
    width: 90%;
    height: 10vh;
    margin: auto;
}
#nav{
    background-color: coral;
    display: flex;
    justify-content: space-between;
}
.nav_links{
    background-color: cornflowerblue;
    width: 15%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_links:hover{
    background-color: red;
}

.nav_links a{
    color: white;
    text-decoration: none;
}
main{
    width: 90%;
    height: 30vh;
    background-color: burlywood;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 2em;
    box-sizing: border-box;
}
